.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  width: 100%;
}

.footer {
  background: #047675;
  color: white;
  text-align: center;
  padding: 40px 20px;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

.contact-info h2 {
  color: #feb0be;
  font-size: 40px;
}

.contact-info p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9rem;
  opacity: 0.8;
}

.instagram-link {
  max-width: 1200px;
} 


