/* === ESTILO GENERAL === */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 50;
  background-color: #047675;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


/* === MENÚ === */
.menu {
  display: flex;
  position: relative;
  list-style: none;
  gap: 50px;
}

.menu-efecto {
  position: absolute;
  background-color: #feb0be;
  left: var(--left, 0);
  top: var(--top, 100%);
  width: var(--width, 0);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

/* === ESTILO DE LOS ITEMS DEL MENÚ === */
.menu-item {
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.menu-item:hover {
  color: #feb0be;
}

/* === BOTÓN PEDIR === */
.button-container {
  display: flex;
  align-items: center;
}

.join-button {
  width: 100px;
  background-color: #feb0be;
  color: #047675;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.join-button:hover {
  background-color: #feb0be;
  transform: scale(1.05);
}

/* === MENÚ HAMBURGUESA (RESPONSIVE) === */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #047675;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .menu.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .join-button {
    width: 90px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 100px;
  }

  .join-button {
    width: 80px;
    font-size: 12px;
  }
}
