.about {
    position: relative;
    background-image: url('src/assets/about.jpg');  /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* Overlay oscuro */
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .about-description {
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
    color: #505054;
  }