/* Estilo general de la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 50;
  background-color: #03716c;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

/* Logo */
.logo img {
  width: 150px;
  cursor: pointer;
}

/* Menú */
.menu {
  display: flex;
  position: relative;
  list-style: none;
  gap: 50px;
}

/* Efecto de hover */
.menu-efecto {
  position: absolute;
  background-color:  #fdb5c0;
  left: var(--left, 0);
  top: var(--top, 100%);
  width: var(--width, 0);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

/* Estilo de los elementos del menú */
.menu-item {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 0;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.menu-item a {
  text-decoration: none;
  color: #fdb5c0;
}

.menu-item:hover {
  color: #fdb5c0;
}

/* Botón */
.button-container {
  display: flex;
  align-items: center;
}

.join-button {
  background-color: #fdb5c0;
  color: #03716c;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.join-button:hover {
  background-color: #fdb5c0;
  transform: scale(1.05);
}
