.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;  /* Cambiar alineación del contenido a la izquierda */
  color: white;
  text-align: left;  /* Cambiar alineación de texto a la izquierda */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombreado interno */
  transition: background-image 1s ease-in-out; /* Transición suave */
}

.hero-content {
  z-index: 1;
  position: absolute;
  left: 20px;  /* Mover contenido a la izquierda */
  max-width: 400px;  /* Limitar ancho máximo del contenido */
}

.hero-title {
  font-family: zilla-slab-bold;
  font-size: 4rem;
  margin: 0;
  padding: 20px;  /* Aumentar el tamaño del fondo */
  border-radius: 10px;  /* Bordes redondeados */
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 0;
  padding: 10px;  /* Aumentar el tamaño del fondo */
  border-radius: 10px;  /* Bordes redondeados */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay para mejorar legibilidad del texto */
  z-index: 0;
}